In [1]:
import seaborn as sns
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [2]:
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### Here we are going to predict the time when the customer might have gone to take meal 
- Dinner
- Lunch

In [3]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [6]:
from sklearn.preprocessing import LabelEncoder

In [9]:
encoder=LabelEncoder()
df['time']=encoder.fit_transform(df['time'])

In [10]:
df.head()

   total_bill   tip     sex smoker  day  time  size
0       16.99  1.01  Female     No  Sun     0     2
1       10.34  1.66    Male     No  Sun     0     3
2       21.01  3.50    Male     No  Sun     0     3
3       23.68  3.31    Male     No  Sun     0     2
4       24.59  3.61  Female     No  Sun     0     4

In [11]:
df['time'].value_counts()

0    176
1     68
Name: time, dtype: int64

In [13]:
#### Independent(Input features) And Dependent(Output Features)
X=df.drop(labels=['time'],axis=1)
y=df['time']

In [14]:
X.head()

   total_bill   tip     sex smoker  day  size
0       16.99  1.01  Female     No  Sun     2
1       10.34  1.66    Male     No  Sun     3
2       21.01  3.50    Male     No  Sun     3
3       23.68  3.31    Male     No  Sun     2
4       24.59  3.61  Female     No  Sun     4

In [15]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: time, dtype: int32

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [22]:
categorical_cols = ['sex', 'smoker','day']
numerical_cols = ['total_bill', 'tip','size']

In [ ]:
### Here we need to remove ouliers if any

#### Here we are going to automate 
- Handeling missing values
- Handeling Categorical Features

In [21]:
from sklearn.impute import SimpleImputer ## Handling Missing Values
from sklearn.preprocessing import OneHotEncoder## handling Categorical features
from sklearn.preprocessing import StandardScaler## Feature scaling
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
## Automating the entire

In [23]:
## Feature Engineering Automation

#Numeric Feature
num_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='median')), ##missing values replace by median
        ('scaler',StandardScaler())## feature scaling 
    ]

)

#categorical Pipeline
cat_pipeline=Pipeline(
                steps=[
                ('imputer',SimpleImputer(strategy='most_frequent')), ##missing values replace by mode
                ('onehotencoder',OneHotEncoder()) ## encoding Categorical features to numerical as it is non ranked categorical features one hot encoder
                ]

            )

##### Now to combie both Numeric and Categorical pipeplines in the model

In [24]:
preprocessor=ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_cols),
    ('cat_pipeline',cat_pipeline,categorical_cols)

])

In [25]:
### Now inserting my training data into this model to get modified train data
X_train=preprocessor.fit_transform(X_train)

In [26]:
### Now inserting my test data into the model without fit to get modified test data
X_test=preprocessor.transform(X_test)

##### Now to apply algorithm to predict output based given question deciding based on regression or classifier output

In [33]:
## As my time is class output so applying classifier model
#Logistic Classifier
from sklearn.linear_model import LogisticRegression
#Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
#Support Vector Machine Classifier
from sklearn.svm import SVC
#K Nearest Neighbours Classifier
from sklearn.neighbors import KNeighborsClassifier
#Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier

In [34]:
## Automate Model Training Process
models={
    'LogisticRegression':LogisticRegression(),
    'DecisionTreeClassifier':DecisionTreeClassifier(),
    'SVC':SVC(),
    'K-NeighborsClassifier':KNeighborsClassifier(),
    'Random Forest':RandomForestClassifier()
}

In [35]:
#### Import modules to get accuracy score for each model
from sklearn.metrics import accuracy_score

In [55]:
#### Function to calculate test accuracy for each model
def evaluate_model(X_train,y_train,X_test,y_test,models):
    
    report = {}
    for i in range(len(models)):
        model = list(models.values())[i]
        # Train model
        model.fit(X_train,y_train)

        # Predict Testing data
        y_test_pred =model.predict(X_test)

        # Get accuracy for test data prediction
       
        # test_model_score = accuracy_score(y_test,y_test_pred,normalize=False)
        test_model_score = accuracy_score(y_test,y_test_pred)

        report[list(models.keys())[i]] =  test_model_score * 100
            

            
    return report

In [56]:
evaluate_model(X_train,y_train,X_test,y_test,models)

{'LogisticRegression': 100.0,
 'DecisionTreeClassifier': 93.87755102040816,
 'SVC': 95.91836734693877,
 'K-NeighborsClassifier': 91.83673469387756,
 'Random Forest': 95.91836734693877}

In [48]:
#### Therefore we can proceed with algorithm giving high accuracy our model
## In this case it is Logistic Classifier